<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="htt://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">

    <main layout:fragment="main">
        <div class="my-2 card">
            <div calss="card-header text-center">
                <h1>포스트 상세 페이지</h1>
            </div>
            <div calss="card-body">
                <form>
                    <div class="my-2">
                        <label class="form-label" for="id">번호</label>
                        <input class="form-control" id="id" th:value="${ post.id }" readonly />
                    </div>
                    <div class="my-2">
                        <lable class="form-label" for="title">제목</lable>
                        <input class="form-control" id="title" th:value="${ post.title }" readonly />
                        <!-- input은 값이 value로 가지고 있기 때문에 th:value를 사용한다. -->
                    </div>
                    <div class="my-2">
                        <lable class="form-label"  for="content">내용</lable>
                        <textarea class="form-control" id="content" th:text="${ post.content }" readonly ></textarea>
                        <!-- textarea는 중간에 text로 들어가기 때문에 th:text로 들어가야 한다. -->
                    </div>
                    <div class="my-2">
                        <label class="form-label" for="author">작성자</label>
                        <input class="form-control" id="author" th:value="${ post.author }" readonly />
                    </div>
                    <div class="my-2">
                        <label class="form-label" for="createdTime">작성시간</label>
                        <input class="form-control" id="createdTime" th:value="${ #temporals.format(post.createdTime, 'yyyy-MM-dd HH:mm:ss') }" readonly />
                    </div>
                    <div class="my-2">
                        <label class="form-label" for="modifiedTime">수정시간</label>
                        <input class="form-control" id="modifiedTime" th:value="${ #temporals.format(post.modifiedTime, 'yyyy-MM-dd HH:mm:ss') }" readonly />
                        <!-- #temporals.format(post.modifiedTime, 'yyyy-MM-dd HH:mm:ss')을 사용해서 출력형태 변경. -->
                        <!-- # : 문서관련 메서드 호출할때 사용. -->
                    </div>
                </form>
                
                <div>
                    <a class="btn btn-outline-primary" th:href="@{ /post/modify?id={id} (id = ${ post.id }) }">수정하기</a>
                </div>
                
            </div>
        </div>
        
        <div class="my-2 card">
            <div class="card-header">
                <span>댓글</span>
                <span id="replyCount" th:text="${ replyCount }"></span>개
                <button class="btn btn-outline-dark" id="btnToggleReply" >보이기</button>
            </div>
            <div class="card-body collapse" id="replyToggleDiv" >
                <div class="my-2 row" >
                    <div class="col-10">
                        <textarea class="form-control" id="replyText" placeholder="댓글 내용 입력"></textarea>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-success form-control" id="btnReplyCreate">등록</button>
                    </div>
                </div>
                
                <!-- 댓글 목록을 보여줄 영역 -->
                <div class="my-2 row" id="replies"></div>
                
            </div>
        </div>
    </main>
    
    <th:block layout:fragment="myscripts">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" ></script>
        <!-- axios-http.com에서 Getting Started에서 Using jsDelivr CDN 부분 복사 -->
        <script src="/js/reply/reply.js"></script>
        <!-- spring boot 에서 static은 제외시키고 src를 작성한다. -> boot가 자동으로 찾아준다. -->
    </th:block>
    
</html>